<h1>Login</h1>

<%= form_for :session, url: '/login' do |f| %>
<form>
  Email:<br>
  <%= text_field_tag :email %><br>
  Password:<br>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Submit" %>
  
  <p>New user? <%= link_to "Sign up now!", '/signup' %></p>

<% end %>