<!DOCTYPE html>

<p id="notice"><%= notice %></p>



<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @location.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>


<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<% if false %>
For some reason every variation of trying to get the google map to show itself resulted in errors, here it is in a makeshift comment box
<%= image_tag
 'http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}'%>
<% end %>


 
<strong>Nearby Locations</strong>
<ul>
<% for location in @location.nearbys(10) %>
   <li><%=link_to location.city, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
